@media (max-width : 700px){
    .profile-parent {
        flex-wrap: wrap;
        padding: 1rem;
        gap: 5rem;
        justify-content: center;
    }
    .dash {
        padding: 2rem;
        width: 80%;
        border-radius: 5px;
    }
    .article-dashbaord p{
        width: 100%;
        font-size: 1rem;
    }
    .article-dashbaord h2 {
        font-size: 1.4rem;
    }
}